In [1]:
import os

from pathlib import Path
import pandas as pd

# Read in Data and Basic Stats

To form an effective baseline, we'll look at yearly entry/exit rates for all businesses.

In [4]:
root_path = Path(os.getcwd()).parent
data_path = root_path / "data" / "final"

yr1 = pd.read_csv(data_path / "nets_philly_entryExit_1yrInterval.csv", header=[0,1], index_col=[0,1])
yr1_base = yr1["TOTAL"]

In [5]:
yr1_base.head()

                         enter_year  exit_year
t10_cen_uid_u_2010 year
10003000200        1990       118.0        8.0
                   1991         7.0       11.0
                   1992        11.0        9.0
                   1993        12.0        8.0
                   1994        25.0       11.0

In [6]:
yr1_base.describe()

         enter_year     exit_year
count  36858.000000  36858.000000
mean      34.249688     22.984725
std       49.343939     30.659851
min        0.000000      0.000000
25%       11.000000      7.000000
50%       20.000000     14.000000
75%       38.000000     28.000000
max     1883.000000   1178.000000

In [28]:
yr1_base.loc[10003000200]

      enter_year  exit_year
year
1990       118.0        8.0
1995        72.0       49.0
2000        95.0       75.0
2005       129.0       77.0
2010       152.0      115.0

In [16]:
yr1_base["enter_year"].mean

1262375.0

In [17]:
yr1_base["exit_year"].sum()

1262375.0